{#**************************************************************************************************************************************#}
{% extends 'base.html.twig' %}
{#**************************************************************************************************************************************#}

{% block title %}{% endblock %}

{% block body %}

	{{ form_start(form) }}

	<div class="container table-bordered">

		<div class="col">
			<br>
			<div class="row">
				<div class="col">
					{{ form_row(form.word, { 'label': 'Mot' })}}
				</div>
				<div class="col">
					{{ form_row(form.translate, { 'label': 'Traduction' })}}
				</div>
			</div>

			<div class="row">
				<div class="col">
					{{ form_row(form.lang, { 'label': 'Langue Source' })}}
				</div>
				<div class="col">
					{{ form_row(form.langDest, { 'label': 'Langue Traduction' })}}
				</div>
			</div>

			<div class="row">
				<div class="col">
					{{ form_row(form.translated, { 'label': 'Traductions' })}}
				</div>
			</div>
			<div class="row">
				<div class="col">
					{{ form_row(form.elquals, { 'label': 'Synonymes' })}}
				</div>

			</div>

			<div class="row">
				<div class="col">

					<button type="submit" class="btn btn-primary">Ajouter</button>
				</div>
			</div>

			<br>


		</div>

	</div>


	{{ form_end(form) }}


	<script>
		$(document).ready(function () {
$("#editer").modal('show');
});
	</script>

{% endblock %}
